{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>About</title>
</head>
<body style="background-color: #131434;">

  <a href="{% url 'landingPage' %}"><i class="fas fa-backward fa-3x" style="color:#699BF7;margin-left: 50px;"></i></a>
   
   <img class="icon" src="{% static 'images/hs_alwafa_digital.png' %}" alt=""><br><br>
   
      <style>
          .icon{
            margin: top 0%;;
            width: 20%;
            position:fixed;
          top: 40%;
          left: 65%;
          transform: translate(-120%, -120%);
          }
        </style>
      <h3 class="text-center"  style="color: #B399C8;margin-top:230px ;font-weight: bolder;">Welcome to Konnectx</h3>
      <h5 class="text-center" style="color: #B399C8;margin-top:1px;">The home of great tunes and best artist .</h5>
      <div class="container-fluid">
        <div class="row">
          <center>
            <div class="col-9">
              <div class="card"  style="background-color: #1A0449;">
                <div class="card-body" > 
                  <p style="color: #F4AA41;font-size: 2.5vh;">
                    Konnectx is a web application designed to solve a major issue faced by artists in the music industry.Despite there being a number of artist who have amersed a huge amount of wealth in this business the greater majority of artist in both hemispheres of the globe have not gained much success through their music.
                  </p>
                  <p style="color: #B9DA73;font-size: 2.5vh;">
                    Success in the music indusrty bottles down to basically the type of distribution company an artist is signed to, if an artist is signed to a huge label then the music is viewd by a greater audience. Konnectx seeks to solve this problem by connecting upcoming artist to already established big time distributors across the globe through the Konnectx platform. 
                  </p>
                  
                </div>
              </div>
      
        
    
        <div class="card text-center"  style="background-color: #131434;">
          <div class="card-body"  style="background-color: #131434;">
            <h5 class="card-title" style="color: #FFFF;font-size: 2vh;">We bring music to life</h5>
            <p class="card-text" style="color: #FFFF;font-size: 2vh;">Get your favourite hits and get to grow your music here visit us at www.konnectx.com</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
          </div>
        </div>
          
     
           <P style="color: #699BF7;margin-top: 160px;"> Konnectx© 2022</P></center>
    </div>
   </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>