{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Document</title>
</head>
<body style="background-color: #131434;">
    <!-- <nav class="navbar navbar-expand-lg navbar-info bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Konnectx</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav> -->

<br>
    <h1 style="color: #B399C8;">About Page</h1><br> <img class="icon" src="{% static 'images/hs_alwafa_digital.png' %}" alt=""><br><br>
   
    <style>
        .icon{
          margin: top 0%;;
          width: 20%;
          position:fixed;
        top: 40%;
        left: 65%;
        transform: translate(-120%, -120%);
        }
      </style>
    <h4 class="text-center"  style="color: #FFFF;">Welcome to Konnectx</h4>
    <p class="text-center" style="color: #FFFF;">The home of great tunes and best artist .</p>

    <div class="card"  style="background-color: #1A0449;">
      <div class="card-body" > 
        <p style="color: #F4AA41;">
          Konnectx is a web application designed to solve a major issue faced by artists in the music industry.Despite there being a number of artist who have amersed a huge amount of wealth in this business the greater majority of artist in both hemispheres of the globe have not gained much success through their music.
        </p>
        <p style="color: #B9DA73;">
          Success in the music indusrty bottles down to basically the type of distribution company an artist is signed to, if an artist is signed to a huge label then the music is viewd by a greater audience. Konnectx seeks to solve this problem by connecting upcoming artist to already established big time distributors across the globe through the Konnectx platform. 
        </p>
        
      </div>
    </div>

    <div class="card text-center"  style="background-color: #131434;">
      <!-- <div class="card-header">
        Featured
      </div> -->



      <div class="card-body"  style="background-color: #131434;">
        <h5 class="card-title" style="color: #FFFF;">We bring music to life</h5>
        <p class="card-text" style="color: #FFFF;">Get your favourite hits and get to grow your music here visit us at www.konnectx.com</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
      <div class="card-footer text-muted"  style="background-color: #131434;">
        Konnectx 2022
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>