{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
    <title>Document</title>
</head>
<body>
<div class="container">
   <div class="header">
    <!-- Hamburger Menu Section -->
    <nav class="navbar">
      <div class="hamburger-menu">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
  
      <ul class="nav-list">
        <li class="nav-item">
          <img src="{% static 'images/home.png' %}"/>
          <a href="{% url 'home'%}" class="nav-link">Home</a>
        </li>
        
        <li class="nav-item">
          <img class="rounded-circle" src="{% static 'images/Eminem_4o5KFku.webp' %}"/>
          <a href="{% url 'profile' user.username%}" class="nav-link">Profile</a>
          <a href="{% url 'distributor_profile' user.username%}" class="nav-link">dProfile</a>
        </li>
        

  
        <li class="nav-item">
          <img src="{% static 'images/about.png' %}" />
          <a href="{% url 'about'%}" class="nav-link">About Konnectx</a>
        </li>
  
        <li class="nav-item">
          <i class="fas fa-question-circle"></i>
          <a href="{% url 'contact'%}" class="nav-link">Contact Support</a>
        </li>
  
      </ul>
  
      <p class="copyright">Konnectx &copy; 2022</p>
    </nav>
  
  </div>
    <center> 
    <img style="margin-top: -180px;" src="{% static 'media/HS Alwafa digital.png' %}" alt="" height="300px">
    </center>
  
    <div class="row">
        <div class="col-6">
          <center> <div class="search">
    
              <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action='{% url "search" %}'>
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="search">
              </form>
          </div>
        </center>
        </div>
      </div>
<!-- cards -->
<div class="row" style="display:flex ;justify-content:center; margin-top: 20px;">
 <div class="card" style="width:40% !important;margin-right: 30px; margin-bottom: 20px;background-color: #B399C8;">
    <div class="col-md-5">
        <img src="{% static 'media/chain.jpg' %}" class="img-top" style="width:60px;height:60px;border-radius: 100%;" >
        <div class="card-body">
          <div class="card-text" >
              <p>Name: Bigscar</p>
              <p>Role: Distributor</p>
              <p>Country: Kenya</p>
          </div>
        </div>
    </div>   
 </div>
 <div class="card" style="width:40% !important;margin-right: 30px;margin-bottom: 20px;background-color: #B399C8;">
    <div class="col-md-5" >
        <img src="{% static 'media/shalyn.jpeg' %}" class="img-top" style="width:60px;height:60px;border-radius: 100%;" >
        <div class="card-body">
            <div class="card-text">
                <p>Name: Shalyn</p>
                <p>Role: Artist</p>
              
                <p>Country: Jamaica</p>
            </div>
        </div>
    </div>
    </div>
    <div class="card" style="width:40% !important;margin-right: 30px;background-color: #B399C8;">
    <div class="col-md-5" >
        <img src="{% static 'media/marpho.jpg' %}" class="card-img-top" style="width:60px;height:60px;border-radius: 100%;" >
        <div class="card-body">
            <div class="card-text">
                <p>Name: Kim</p>
                <p>Role: Artist</p>
                <p>Country: South Africa</p>
            </div>
        </div>
    </div>
    </div>
    <div class="card" style="width:40% !important;margin-right: 30px;background-color: #B399C8;">
    <div class="col-md-5" >
        
        <img src="{% static 'media/mphela.jpg' %}" class="card-img-top" style="width:60px;height:60px;border-radius: 100%;" >
        <div class="card-body">
            <div class="card-text">
                <p>Name: Wambui</p>
                <p>Role: Distributor</p>
                <p>Country: Kenya</p>
            </div>
        </div>
    </div> 
    </div>  
  
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %} "></script>
</body>
</html>