{% extends 'base.html' %} 
{% block content %}
 {{block.super}}

 <div class="container " id="">
    <div class="row " >
       <h1 class="text-center" style="color:white ;margin-top: -150px;">Search for {{ search_term }}</h1>
  
        {% for u in searchresults %}
        <div class='col'>
          
      </div>
        {% empty %}
    
          <div col>
              <p class="alert alert-success text-center mb-5">No Search Results for {{ search_term }}</p>
          </div>

      
       
      
      {% endfor %}
    
   
  </div>
</div>

 {% endblock %}